language: python
python: '3.5'
sudo: false
env:
  global:
    - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
    - SEGFAULT_SIGNALS=all
    - HYPOTHESIS_PROFILE=ci
before_install:
  - python --version
  - uname -a
  - lsb_release -a
install:
  - pip install .[test]
  - pip install flake8 python-coveralls
script:
  - py.test
  - flake8
after_success:
  - coveralls
before_cache:
  - rm -rf $HOME/.cache/pip/log
cache:
  directories:
    - $HOME/.cache/pip
notifications:
  email:
    on_success: never
    on_failure: always
